### TOPUP MAMA - PRODUCT RECOMMENDATION

##### This is a simple recommender system that takes in Product categories as items and Customer_ID as users. 
##### The ratings were too few to employ a collaborative approach and therefore a content-based approach is employed.

#### IMPORTING MODULES

In [1]:
import numpy as np
import pandas as pd
import sklearn
import tensorflow as tf 

import matplotlib
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import seaborn as sns
from pandas_profiling import ProfileReport
import tkinter
matplotlib.use('TkAgg')

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler


from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('df.csv')

data.head()

C:\Users\MUKIRI\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (2,4,5,9,11,12,13,18,19,23,24,25,26,28,29,30,32,36,37,38,40,41,42,44,49,50,51,54,55,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,Customer_ID,Last_Used_Platform,Is_Blocked,Created_At,Language,Outstanding_Amount,Loyalty_Points,Number_of_Employees,Upload_restuarant_location,...,Delivery_Charges,Discount_y,Sub_Total_y,Payment_Type,Task_Category,Earning,Pricing,Unnamed: 34,Unnamed: 35,Country
0,0,3365019.0,WEB,0.0,2021-04-21T07:15:56.000Z,en,0.0,68.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
1,1,3365019.0,WEB,0.0,2021-04-21T07:15:56.000Z,en,0.0,68.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
2,2,3365019.0,WEB,0.0,2021-04-21T07:15:56.000Z,en,0.0,68.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
3,3,3365019.0,WEB,0.0,2021-04-21T07:15:56.000Z,en,0.0,68.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
4,4,3365770.0,WEB,0.0,2021-04-21T10:23:50.000Z,en,0.0,55.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya

In [3]:
num_items = data.Category_Name.nunique()
num_users = data.Customer_ID.nunique()
print(num_items, num_users)

14 702

#### Fill Missing Values

In [4]:
data.Category_Name.isnull().sum()

53008

In [5]:
data.Customer_ID.isnull().sum()

53002

#### Encoding Categorical Data

Opt for the LabelEncoder in this case.

In [6]:
from sklearn.preprocessing import LabelEncoder
cols = ['Category_Name']
lp = LabelEncoder()
for col in cols:
    data[col] = lp.fit_transform(data[col])

In [7]:
import pickle
filehandler = open("lp.obj", "wb")
pickle.dump(lp, filehandler)
filehandler.close()

#### Creating our Matrix

In [8]:
#CREATE A MATRIX FOR THE ABOVE
column_names = ['Customer_ID', 'Category_Name']
features = data[column_names]
df = pd.DataFrame(features, columns = column_names)
df.head()

   Customer_ID  Category_Name
0    3365019.0              3
1    3365019.0              4
2    3365019.0              4
3    3365019.0              3
4    3365770.0              3

In [9]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [10]:
df.fillna(0, inplace=True)

In [11]:
df.dtypes

Customer_ID      float64
Category_Name      int32
dtype: object

In [12]:
df = df.sort_values(by='Customer_ID')

In [13]:
df.set_index(['Customer_ID'])

             Category_Name
Customer_ID
0.0                     14
0.0                     14
0.0                     14
0.0                     14
0.0                     14
...                    ...
5188263.0                4
5188263.0                4
5188263.0                4
5188263.0                9
5189011.0                3

[66673 rows x 1 columns]

In [14]:
df.head()

       Customer_ID  Category_Name
33336          0.0             14
43488          0.0             14
43489          0.0             14
43490          0.0             14
43491          0.0             14

In [15]:
df = df.sort_values(by='Category_Name')

In [16]:
df.head()

       Customer_ID  Category_Name
58580    4876172.0              0
58578    4876172.0              0
58579    4876172.0              0
11840    4934058.0              1
3533     4054645.0              1

#### Feature Scaling

In [17]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
df_scaled = sc.fit_transform(df)

In [18]:
df.head()

       Customer_ID  Category_Name
58580    4876172.0              0
58578    4876172.0              0
58579    4876172.0              0
11840    4934058.0              1
3533     4054645.0              1

In [19]:
#df = df.reset_index()

#### Split the data as the matrix is too large

In [20]:
df = df.iloc[1:1000, :].values

####  The Model

In [21]:
from sklearn.metrics.pairwise import linear_kernel

In [22]:
# Compute the cosine similarity matrix
cosine_sim = linear_kernel(df)

In [23]:
cosine_sim.shape

(999, 999)

In [24]:
cosine_sim[1]

array([2.37770534e+13, 2.37770534e+13, 2.40593155e+13, 1.97711464e+13,
       2.02535802e+13, 2.02535802e+13, 1.97711464e+13, 2.02535802e+13,
       1.97684450e+13, 2.02693059e+13, 2.40991684e+13, 2.02700178e+13,
       2.23725842e+13, 2.24579074e+13, 2.40991684e+13, 2.40991684e+13,
       2.40623436e+13, 2.40991684e+13, 2.23725842e+13, 2.23725842e+13,
       2.40991684e+13, 2.23725842e+13, 2.24579074e+13, 1.66366699e+13,
       2.23725842e+13, 2.41306441e+13, 2.02700178e+13, 2.24579074e+13,
       1.97711464e+13, 1.66623088e+13, 2.31373337e+13, 2.22832332e+13,
       1.81975082e+13, 2.22832332e+13, 2.27917838e+13, 2.01072561e+13,
       2.01072561e+13, 2.40567652e+13, 2.40567652e+13, 2.25710151e+13,
       1.84994213e+13, 1.98076689e+13, 2.25710151e+13, 2.19160379e+13,
       2.40567652e+13, 1.89218538e+13, 1.84994213e+13, 2.18885120e+13,
       1.97842877e+13, 1.81975082e+13, 1.89218538e+13, 1.71617556e+13,
       1.97711464e+13, 2.40593155e+13, 2.01830854e+13, 2.40623436e+13,
       2.40623436e+13, 2.02700178e+13, 2.23725842e+13, 2.00795545e+13,
       2.23725842e+13, 1.65084412e+13, 2.02700178e+13, 2.23725842e+13,
       2.23725842e+13, 2.18308756e+13, 2.23725842e+13, 2.23725842e+13,
       2.23725842e+13, 2.23725842e+13, 2.23725842e+13, 2.23725842e+13,
       2.23725842e+13, 2.30152246e+13, 2.17692213e+13, 2.17692213e+13,
       2.24579074e+13, 1.85943164e+13, 1.85943164e+13, 1.85943164e+13,
       2.24579074e+13, 1.85943164e+13, 1.64729866e+13, 2.23734375e+13,
       2.23725842e+13, 2.02700178e+13, 2.02700178e+13, 2.18308756e+13,
       2.23725842e+13, 2.31373337e+13, 2.23725842e+13, 2.18484981e+13,
       2.23725842e+13, 2.23725842e+13, 2.23725842e+13, 2.02700178e+13,
       1.77901577e+13, 2.23725842e+13, 2.24579074e+13, 2.02700178e+13,
       2.23725842e+13, 2.23725842e+13, 2.31373337e+13, 2.23725842e+13,
       2.18308756e+13, 2.02700178e+13, 2.02700178e+13, 1.97259979e+13,
       2.23725842e+13, 2.23725842e+13, 2.24579074e+13, 2.02700178e+13,
       2.23725842e+13, 2.24579074e+13, 2.00795545e+13, 2.00795545e+13,
       1.64729866e+13, 2.36163738e+13, 1.92362011e+13, 2.38344654e+13,
       2.38359429e+13, 1.92362011e+13, 1.92362011e+13, 2.38359429e+13,
       2.27708602e+13, 2.21436089e+13, 2.38359429e+13, 2.26794124e+13,
       1.81998731e+13, 1.92362011e+13, 2.38359429e+13, 2.27708602e+13,
       2.36105760e+13, 2.38359429e+13, 2.38359429e+13, 2.36105760e+13,
       2.38359429e+13, 2.27708602e+13, 2.27708602e+13, 1.92629957e+13,
       2.38359429e+13, 2.38359429e+13, 2.38203245e+13, 1.81998731e+13,
       2.38203245e+13, 1.99118679e+13, 1.79039968e+13, 1.99118679e+13,
       1.91995810e+13, 1.91995810e+13, 2.27708602e+13, 1.99118679e+13,
       1.99118679e+13, 1.99118679e+13, 1.82201970e+13, 1.99137013e+13,
       1.82201970e+13, 2.27708602e+13, 1.82201970e+13, 1.82201970e+13,
       2.37853965e+13, 2.37853965e+13, 1.77302393e+13, 2.27708602e+13,
       1.81998731e+13, 2.37853965e+13, 2.37959680e+13, 1.98527053e+13,
       2.38203245e+13, 2.36163738e+13, 2.38359429e+13, 2.22832332e+13,
       1.81998731e+13, 1.91594501e+13, 1.99653205e+13, 2.27708602e+13,
       1.98209663e+13, 2.38359429e+13, 1.81998731e+13, 2.38640833e+13,
       1.99653205e+13, 1.77302393e+13, 2.38703687e+13, 2.27917838e+13,
       1.90303437e+13, 2.38359429e+13, 2.38714951e+13, 2.22832332e+13,
       2.33923088e+13, 2.22832332e+13, 1.90277837e+13, 2.27917838e+13,
       2.00795545e+13, 2.22832332e+13, 2.00795545e+13, 2.00795545e+13,
       2.00795545e+13, 2.00795545e+13, 2.22832332e+13, 1.91382486e+13,
       1.91382486e+13, 1.98399785e+13, 1.99425049e+13, 2.27708602e+13,
       2.38359429e+13, 1.99425049e+13, 2.36105760e+13, 1.99425049e+13,
       2.38359429e+13, 1.81998731e+13, 2.27708602e+13, 1.98399785e+13,
       1.98399785e+13, 2.26452451e+13, 2.26452451e+13, 1.91594501e+13,
       2.27708602e+13, 1.77302393e+13, 1.91544716e+13, 2.38359429e+13,
       2.38359429e+13, 1.98399785e+13, 1.91544716e+13, 2.38359429e+13,
       1.99476882e+13, 1.98399785e+13, 2.38359429e+13, 2.38359429e+13,
       1.85943164e+13, 1.82201970e+13, 1.88662654e+13, 1.95828482e+13,
       2.05846918e+13, 2.05846918e+13, 1.64729866e+13, 2.28995423e+13,
       2.30152246e+13, 2.05846918e+13, 1.64729866e+13, 2.05666207e+13,
       2.05846918e+13, 1.88662654e+13, 1.64729866e+13, 2.51096868e+13,
       1.94378942e+13, 2.23971552e+13, 2.28995423e+13, 2.51096868e+13,
       1.94382453e+13, 2.05846918e+13, 2.05846918e+13, 1.94382453e+13,
       1.88662654e+13, 2.28995423e+13, 2.05666207e+13, 2.05666207e+13,
       1.64120734e+13, 1.86437998e+13, 1.94378942e+13, 1.94378942e+13,
       1.88108575e+13, 1.77901577e+13, 1.88662654e+13, 2.28995423e+13,
       1.88662654e+13, 2.28652336e+13, 1.88662654e+13, 2.05666207e+13,
       1.64120734e+13, 1.81924906e+13, 2.23971552e+13, 1.64120734e+13,
       1.88514467e+13, 1.64729866e+13, 1.81108391e+13, 2.14841700e+13,
       2.14841700e+13, 2.28995423e+13, 2.05846918e+13, 2.13474617e+13,
       2.28995423e+13, 2.13498169e+13, 1.94006256e+13, 2.43958445e+13,
       2.05846918e+13, 2.07485020e+13, 1.88662654e+13, 2.28995423e+13,
       2.23971552e+13, 2.07485020e+13, 2.23971552e+13, 2.23971552e+13,
       2.05846918e+13, 1.64120734e+13, 1.94382453e+13, 2.14603938e+13,
       2.05846918e+13, 1.88514467e+13, 2.14603938e+13, 2.28995423e+13,
       2.43958445e+13, 2.05846918e+13, 1.95538886e+13, 2.52862432e+13,
       2.05846918e+13, 2.50852523e+13, 1.99459084e+13, 1.88662654e+13,
       1.99459084e+13, 1.99459084e+13, 2.35936703e+13, 1.99459084e+13,
       2.35967667e+13, 1.77302393e+13, 2.07699669e+13, 1.99459084e+13,
       1.99459084e+13, 1.99459084e+13, 1.99459084e+13, 1.82462992e+13,
       2.07699669e+13, 2.27708602e+13, 2.36105760e+13, 2.35936703e+13,
       2.35967667e+13, 2.07699669e+13, 1.99459084e+13, 2.13773916e+13,
       1.77302393e+13, 1.99459084e+13, 2.27708602e+13, 1.99434460e+13,
       2.07699669e+13, 1.99434460e+13, 1.99459084e+13, 2.07699669e+13,
       1.88662654e+13, 1.99459084e+13, 1.99459084e+13, 1.77302393e+13,
       1.91594501e+13, 1.99434460e+13, 2.27708602e+13, 2.13773916e+13,
       1.99459084e+13, 1.99459084e+13, 1.91544716e+13, 1.88662654e+13,
       2.04727886e+13, 2.34924849e+13, 1.99799197e+13, 1.83284822e+13,
       1.99799197e+13, 2.14601646e+13, 2.14601646e+13, 1.99799197e+13,
       2.20009126e+13, 1.83284822e+13, 1.99693823e+13, 2.27708602e+13,
       1.99684315e+13, 2.20009126e+13, 2.20009126e+13, 2.14601646e+13,
       1.99653205e+13, 1.99799197e+13, 1.99653205e+13, 1.99799197e+13,
       1.77302393e+13, 2.00325336e+13, 2.33923088e+13, 1.77869248e+13,
       1.77869248e+13, 2.33923088e+13, 2.33923088e+13, 1.77869248e+13,
       1.77869248e+13, 2.33923088e+13, 2.33923088e+13, 1.77869248e+13,
       2.33923088e+13, 2.33923088e+13, 2.33923088e+13, 2.33923088e+13,
       2.19941445e+13, 1.99653205e+13, 1.99653205e+13, 1.99653205e+13,
       2.20299502e+13, 2.07699669e+13, 2.34865164e+13, 1.83074756e+13,
       2.07699669e+13, 2.07699669e+13, 1.99459084e+13, 2.14601646e+13,
       1.88662654e+13, 1.99459084e+13, 2.07699669e+13, 2.34924849e+13,
       1.99459084e+13, 1.99459084e+13, 1.88662654e+13, 2.14601646e+13,
       1.88662654e+13, 1.88662654e+13, 2.07699669e+13, 2.20205343e+13,
       1.99653205e+13, 1.88662654e+13, 1.99653205e+13, 2.27708602e+13,
       1.99653205e+13, 1.83122689e+13, 2.27708602e+13, 1.99653205e+13,
       2.14601646e+13, 1.99653205e+13, 1.99653205e+13, 1.99653205e+13,
       1.88662654e+13, 1.99653205e+13, 2.34083806e+13, 1.99653205e+13,
       2.36105760e+13, 2.07699669e+13, 1.88662654e+13, 2.21557457e+13,
       2.21572768e+13, 2.07699669e+13, 2.12699744e+13, 2.21572768e+13,
       2.12699744e+13, 2.21557457e+13, 2.21572768e+13, 2.12699744e+13,
       2.21572768e+13, 2.27708602e+13, 2.21572768e+13, 1.99156615e+13,
       1.82457774e+13, 2.36163738e+13, 2.27708602e+13, 1.99420075e+13,
       2.12699744e+13, 2.36163738e+13, 1.99420075e+13, 1.99420075e+13,
       1.99420075e+13, 1.99420075e+13, 2.07699669e+13, 1.77302393e+13,
       2.12699744e+13, 1.99420075e+13, 2.21541170e+13, 1.77302393e+13,
       2.27708602e+13, 2.12699744e+13, 1.99420075e+13, 1.99420075e+13,
       1.99142279e+13, 1.99420075e+13, 1.88259687e+13, 2.07699669e+13,
       1.77302393e+13, 1.99118679e+13, 2.10078217e+13, 1.77302393e+13,
       2.10078217e+13, 2.11306963e+13, 2.37452754e+13, 1.88259687e+13,
       1.99118679e+13, 1.88148267e+13, 2.27708602e+13, 1.99118679e+13,
       1.99118679e+13, 1.99118679e+13, 1.88148267e+13, 1.88259687e+13,
       1.88259687e+13, 1.99118679e+13, 1.99137013e+13, 2.21602269e+13,
       2.27708602e+13, 2.12699744e+13, 2.08549780e+13, 2.37452754e+13,
       2.37452754e+13, 1.99131649e+13, 1.99131649e+13, 2.21602269e+13,
       1.99118679e+13, 2.27708602e+13, 1.77302393e+13, 1.99118679e+13,
       1.88148267e+13, 1.77302393e+13, 1.99425049e+13, 2.27708602e+13,
       1.99420075e+13, 2.27708602e+13, 2.27708602e+13, 2.36105760e+13,
       2.21404686e+13, 1.99425049e+13, 2.36105760e+13, 2.07699669e+13,
       2.07699669e+13, 2.36105760e+13, 1.99420075e+13, 1.99420075e+13,
       2.27708602e+13, 2.36105760e+13, 1.99420075e+13, 1.88662654e+13,
       1.82462992e+13, 1.88662654e+13, 2.27917838e+13, 2.13498169e+13,
       2.36105760e+13, 2.07699669e+13, 2.36105760e+13, 1.99425049e+13,
       1.91594501e+13, 2.13498169e+13, 2.21096025e+13, 2.36105760e+13,
       1.77302393e+13, 1.99425049e+13, 2.36105760e+13, 1.99425049e+13,
       2.36105760e+13, 2.21096025e+13, 2.13474617e+13, 2.21541170e+13,
       2.36105760e+13, 1.82457774e+13, 1.99420075e+13, 2.21449986e+13,
       1.99420075e+13, 2.07699669e+13, 2.12699744e+13, 1.99420075e+13,
       2.21436089e+13, 1.99420075e+13, 2.12699744e+13, 1.99420075e+13,
       2.36163738e+13, 1.99420075e+13, 1.99420075e+13, 1.99420075e+13,
       1.99420075e+13, 2.12699744e+13, 2.21436089e+13, 1.88514467e+13,
       2.36116097e+13, 2.07699669e+13, 2.21436089e+13, 1.77302393e+13,
       2.13383286e+13, 2.36116097e+13, 1.99420075e+13, 2.36116097e+13,
       1.77302393e+13, 2.13383286e+13, 1.99420075e+13, 1.99420075e+13,
       2.07699669e+13, 1.99420075e+13, 1.99420075e+13, 1.77912353e+13,
       2.27917838e+13, 2.14603938e+13, 1.77869248e+13, 2.16103800e+13,
       2.31373337e+13, 2.05666207e+13, 2.02700178e+13, 2.02700178e+13,
       2.02700178e+13, 2.16103800e+13, 2.05666207e+13, 1.77901577e+13,
       2.02700178e+13, 2.15949567e+13, 2.05666207e+13, 2.05666207e+13,
       2.05666207e+13, 1.77869248e+13, 2.16103800e+13, 2.02700178e+13,
       2.16103800e+13, 1.77869248e+13, 2.16103800e+13, 2.05666207e+13,
       2.05666207e+13, 2.18308756e+13, 2.31373337e+13, 2.16103800e+13,
       1.77869248e+13, 2.16103800e+13, 2.05666207e+13, 2.31373337e+13,
       1.88925334e+13, 2.16103800e+13, 2.31373337e+13, 2.02700178e+13,
       1.85885967e+13, 1.88925334e+13, 2.15949567e+13, 2.05666207e+13,
       1.85885967e+13, 2.05846918e+13, 2.05846918e+13, 1.85885967e+13,
       1.77869248e+13, 1.77869248e+13, 2.05846918e+13, 1.85885967e+13,
       2.02687695e+13, 1.88925334e+13, 2.18484981e+13, 2.02687695e+13,
       2.18484981e+13, 1.77869248e+13, 2.02687695e+13, 1.85885967e+13,
       2.30888841e+13, 2.02700178e+13, 1.88925334e+13, 1.77901577e+13,
       2.05808397e+13, 2.05808397e+13, 2.15949567e+13, 1.88925334e+13,
       2.28664331e+13, 2.28664331e+13, 2.05808397e+13, 2.02700178e+13,
       1.77869248e+13, 2.15949567e+13, 2.05808397e+13, 2.31373337e+13,
       2.05811615e+13, 2.05811615e+13, 2.15949567e+13, 2.31373337e+13,
       2.05666207e+13, 2.02700178e+13, 2.04727886e+13, 1.77901577e+13,
       1.77901577e+13, 2.04727886e+13, 2.17124675e+13, 1.77901577e+13,
       2.04727886e+13, 2.04727886e+13, 2.04727886e+13, 1.88925334e+13,
       2.04727886e+13, 2.04727886e+13, 2.17304070e+13, 1.77901577e+13,
       1.77901577e+13, 1.85943164e+13, 1.77869248e+13, 2.23971552e+13,
       2.17124675e+13, 1.77869248e+13, 1.77869248e+13, 2.17124675e+13,
       2.04727886e+13, 2.17124675e+13, 2.17124675e+13, 2.17124675e+13,
       2.04727886e+13, 1.77869248e+13, 1.88925334e+13, 2.17124675e+13,
       2.04727886e+13, 2.04727886e+13, 1.77901577e+13, 2.17323087e+13,
       1.77869248e+13, 1.77869248e+13, 2.04727886e+13, 2.05666207e+13,
       2.30152246e+13, 2.18307049e+13, 2.05666207e+13, 2.18308756e+13,
       2.02773906e+13, 2.30480949e+13, 2.05666207e+13, 2.30480949e+13,
       2.30480949e+13, 1.77901577e+13, 2.02773906e+13, 2.02700178e+13,
       1.88925334e+13, 2.16103800e+13, 2.18303977e+13, 2.16103800e+13,
       2.30480949e+13, 2.30480949e+13, 1.85943164e+13, 2.17124675e+13,
       2.17692213e+13, 1.77901577e+13, 1.88925334e+13, 2.05104082e+13,
       1.77901577e+13, 1.88925334e+13, 2.02773906e+13, 2.02773906e+13,
       1.77901577e+13, 2.02773906e+13, 2.02773906e+13, 2.02773906e+13,
       1.77901577e+13, 2.30480949e+13, 2.02658633e+13, 1.85885967e+13,
       2.31373337e+13, 2.27917838e+13, 2.27917838e+13, 2.01072561e+13,
       2.27917838e+13, 2.27917838e+13, 2.19635075e+13, 2.19553594e+13,
       1.88662654e+13, 2.19635075e+13, 2.19635075e+13, 1.77869248e+13,
       2.19747519e+13, 2.33923088e+13, 1.90042172e+13, 1.90042172e+13,
       2.19197146e+13, 1.88662654e+13, 1.90042172e+13, 2.19197146e+13,
       2.01211483e+13, 1.77869248e+13, 2.01211483e+13, 2.19197146e+13,
       2.19197146e+13, 2.19197146e+13, 1.90042172e+13, 2.01211483e+13,
       2.07241211e+13, 2.19197146e+13, 2.01189296e+13, 2.32199702e+13,
       1.83957392e+13, 2.19197146e+13, 2.27917838e+13, 2.33923088e+13,
       1.77869248e+13, 2.33923088e+13, 1.77869248e+13, 2.33923088e+13,
       1.88662654e+13, 1.83417551e+13, 2.27917838e+13, 2.33923088e+13,
       1.90291881e+13, 2.00749466e+13, 2.33923088e+13, 2.33923088e+13,
       2.14603938e+13, 1.77869248e+13, 2.00749466e+13, 2.33923088e+13,
       2.33923088e+13, 2.14603938e+13, 2.01211483e+13, 1.77912353e+13,
       2.19851040e+13, 1.77869248e+13, 1.83417551e+13, 1.88148267e+13,
       2.33923088e+13, 2.14603938e+13, 1.77869248e+13, 2.19851040e+13,
       2.14603938e+13, 1.77869248e+13, 2.33923088e+13, 1.88662654e+13,
       1.77869248e+13, 2.14603938e+13, 2.28995423e+13, 2.33923088e+13,
       2.04727886e+13, 1.77869248e+13, 1.89838494e+13, 2.07241211e+13,
       1.85863341e+13, 1.88925334e+13, 2.31373337e+13, 2.31373337e+13,
       2.01962560e+13, 1.77869248e+13, 1.88925480e+13, 2.31373337e+13,
       2.18880097e+13, 1.99118679e+13, 2.18885120e+13, 2.18885120e+13,
       1.94253722e+13, 1.85863341e+13, 2.18885120e+13, 2.30082858e+13,
       1.77869248e+13, 2.18742345e+13, 2.02469048e+13, 2.31373337e+13,
       1.85885967e+13, 2.05846918e+13, 2.05846918e+13, 2.05846918e+13,
       2.05846918e+13, 2.05846918e+13, 1.77901577e+13, 2.31373337e+13,
       2.02488942e+13, 2.02488942e+13, 2.18484981e+13, 2.18572557e+13,
       2.02469048e+13, 2.18742345e+13, 1.77869248e+13, 1.77869248e+13,
       2.01788432e+13, 1.77869248e+13, 2.18885120e+13, 2.18885120e+13,
       1.88108575e+13, 1.88925334e+13, 2.01458559e+13, 2.01356403e+13,
       2.19070170e+13, 2.19070170e+13, 1.88108575e+13, 2.07241211e+13,
       2.19160379e+13, 2.07241211e+13, 2.01211483e+13, 2.01211483e+13,
       2.01211483e+13, 2.18885120e+13, 1.85863341e+13, 2.01578756e+13,
       2.01598749e+13, 2.05846918e+13, 2.01764197e+13, 1.77869248e+13,
       1.89026027e+13, 2.18885120e+13, 2.01668819e+13, 1.89218538e+13,
       2.18885120e+13, 1.77901577e+13, 2.18885120e+13, 1.86611785e+13,
       2.06450150e+13, 1.89218538e+13, 1.87750664e+13, 2.01598749e+13,
       1.85863341e+13, 2.23971552e+13, 2.20892688e+13, 1.97711464e+13,
       1.97711464e+13, 2.40593155e+13, 1.68596524e+13, 1.92852359e+13,
       1.97711464e+13, 2.23039326e+13, 2.23039326e+13, 1.97711464e+13,
       1.97711464e+13, 1.92852359e+13, 1.97711464e+13, 2.23039326e+13,
       1.92852359e+13, 2.23013433e+13, 1.92852359e+13, 1.92852359e+13,
       1.97907145e+13, 2.22980031e+13, 1.92852359e+13, 2.22985444e+13,
       1.98128328e+13, 1.92852359e+13, 2.23008606e+13, 2.40623436e+13,
       1.98123988e+13, 1.92852359e+13, 1.97907145e+13, 1.97907145e+13,
       1.97907145e+13, 2.23008606e+13, 1.97907145e+13, 2.23008606e+13,
       2.40623436e+13, 2.40623436e+13, 1.97711464e+13, 1.97711464e+13,
       1.97711464e+13, 2.40949505e+13, 1.97676795e+13, 1.92852359e+13,
       2.24579074e+13, 1.97711464e+13, 1.97676795e+13, 1.97676795e+13,
       1.66366699e+13, 1.97676795e+13, 1.92852359e+13, 1.66366699e+13,
       2.24579074e+13, 2.40991684e+13, 1.98135252e+13, 2.23039911e+13,
       1.97711464e+13, 2.40623436e+13, 1.97711464e+13, 1.97711464e+13,
       2.40623436e+13, 1.97711464e+13, 1.97711464e+13, 1.97711464e+13,
       2.23039911e+13, 2.23039911e+13, 1.97711464e+13, 2.40623436e+13,
       2.23039911e+13, 2.23039911e+13, 1.92852359e+13, 1.97711464e+13,
       2.41430247e+13, 1.98135252e+13, 2.25710151e+13, 1.98209663e+13,
       1.92852359e+13, 1.98209663e+13, 1.81998731e+13, 2.38703687e+13,
       1.81998731e+13, 1.98209663e+13, 1.92852359e+13, 2.38703687e+13,
       1.98209663e+13, 2.22650451e+13, 2.26222247e+13, 1.98209663e+13,
       2.26222247e+13, 2.26222247e+13, 1.92852359e+13, 1.98209663e+13,
       1.92852359e+13, 1.92852359e+13, 2.26305288e+13, 2.26305288e+13,
       2.38359429e+13, 2.26305288e+13, 1.98209663e+13, 2.22649914e+13,
       1.98209663e+13, 1.79935672e+13, 1.92852359e+13, 1.81998731e+13,
       1.98209663e+13, 2.22649914e+13, 1.92852359e+13, 2.26222247e+13,
       1.98209663e+13, 1.98209663e+13, 1.98192986e+13, 1.98192986e+13,
       1.98192986e+13, 1.79935672e+13, 1.92852359e+13, 2.22832332e+13,
       2.26222247e+13, 1.92852359e+13, 2.22832332e+13, 1.98135350e+13,
       2.22832332e+13, 1.92852359e+13, 2.25710151e+13, 2.22980031e+13,
       1.98135350e+13, 1.92852359e+13, 1.77302393e+13])